.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #1a1a2e, #16213e); /* Gradient background */
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* Box shadow for subtle depth */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
    /* Optional: rounded corners */
    border-radius: 0 0 10px 10px;
}

.profile-circle {
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-circle img {
    width: 100%;
    height: auto;
}

.profile-name h1 {
    /* margin: 0; */
    font-size: 1.5em;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-bar a {
    color: var(--platinum);
    text-decoration: none;
    font-weight: bold;
}